{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <p>Мы предлагаем курсы по разработке веб-сайтов, используя Python, Flask и Bootstrap. Наша цель - помочь вам освоить современные технологии и инструменты для создания профессиональных и эффективных веб-приложений. Наша команда состоит из опытных разработчиков и преподавателей, которые готовы поделиться своими знаниями и опытом.</p>
    <p>Наши курсы подходят как для начинающих, так и для опытных разработчиков. Вы получите практические навыки и теоретические знания, которые помогут вам в создании своих проектов.</p>
{% endblock %}
